<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Magento\Backend\Block\System\Store\Edit\Form\Website">
    <plugin name="ppm_admin_website" type="Ppm\Plugin\Block\System\Store\Edit\Form\Website"/>
  </type>
</config>
